html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  gap: 20px 20px;
  grid-template-areas:
    "Header Header Header Header ."
    "Advertisement Advertisement Advertisement Banner ."
    "Music-Player Music-Player Music-Player Banner ."
    "Music-Player Music-Player Music-Player Banner ."
    "Music-Player Music-Player Music-Player Banner ."
    "Music-Player Music-Player Music-Player Banner ."
    "Footer Footer Footer Footer .";
margin-left: 20px;
}

.Header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Logo Menu Menu Menu";
  grid-area: Header;
}

.Logo { grid-area: Logo; }

.Menu { grid-area: Menu; }

.Advertisement { 
    grid-area: Advertisement;
    background-image: url(../images/Advertisement.jpg);
    width: 100%;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    
}

.Banner { grid-area: Banner; 
    background-image: url(../images/banner.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.Music-Player {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Music1 Music2 Music3 Music4"
    "Music5 Music6 Music7 music8"
    "music9 music10 music11 music12"
    "music13 music14 music15 music16";
  grid-area: Music-Player;
}

.Music-Player * {
    margin: 20px;
}

.Music1 { 
    grid-area: Music1;
    background-image: url(../images/media-images/adventure.jpg);
    width: 82%;
    height: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.Music2 { grid-area: Music2;
    background-image: url(../images/media-images/betterdays.jpg);
    width: 82%;
    height: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; } 

.Music3 { grid-area: Music3; 
    background-image: url(../images/media-images/clearday.jpg);
    width: 82%;
    height: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.Music4 { grid-area: Music4;
    background-image: url(../images/media-images/dubstep.jpg);
    width: 82%;
    height: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.Music5 { grid-area: Music5;
    background-image: url(../images/media-images/energy.jpg);
    width: 82%;
    height: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.Music6 { grid-area: Music6; 
    background-image: url(../images/media-images/epic.jpg);
    width: 82%;
    height: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.Music7 { grid-area: Music7;
    background-image: url(../images/media-images/evolution.jpg);
    width: 82%;
    height: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.music8 { grid-area: music8;
    background-image: url(../images/media-images/funnysong.jpg);
    width: 82%;
    height: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.music9 { grid-area: music9;
    background-image: url(../images/media-images/inspire.jpg);
    width: 82%;
    height: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.music10 { grid-area: music10;
    background-image: url(../images/media-images/moose.jpg);
    width: 82%;
    height: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.music11 { grid-area: music11;
    background-image: url(../images/media-images/onceagain.jpg);
    width: 82%;
    height: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.music12 { grid-area: music12;
    background-image: url(../images/media-images/slowmotion.jpg);
    width: 82%;
    height: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.music13 { grid-area: music13;
    background-image: url(../images/media-images/sunny.jpg);
    width: 82%;
    height: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.music14 { grid-area: music14;
    background-image: url(../images/media-images/sweet.jpg);
    width: 82%;
    height: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.music15 { grid-area: music15;
    background-image: url(../images/media-images/tenderness.jpg);
    width: 82%;
    height: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.music16 { grid-area: music16;
    background-image: url(../images/media-images/thelounge.jpg);
    width: 82%;
    height: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.Footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Volume Play-pause Play-pause Recorder";
  grid-area: Footer;
}

.Volume { grid-area: Volume; }

.Play-pause { grid-area: Play-pause; }

.Recorder { grid-area: Recorder; }

.grid-container * {
  border: 1px solid black;
  position: relative;
  border-radius: 5px;
}
.grid-container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
}


